.card-main {
  max-width: 60%;
  margin: auto;
  background-color: #ffffff;
  min-height: 80vh;
  width: 100%;
  padding: 20px;
  margin-top: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .card-login {
    padding: 60px;
    background-color: #0d6efd0f;
  }

  .btn-login {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    width: 90%;
  }

  .btn-login:hover {
    color: #ffffff;
    background-color: blue;
  }
}

.card {
  border: none;
  border-radius: 2.5rem;
}

@media (max-width: 576px) {

  .card-main {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    min-height: 0;
    padding: 0;
    border-radius: 2.5rem 2.5rem 0 0;

    .card-login {
      width: 100%;
      background-color: transparent;
      min-height: 0;
      margin: 10px 0;
    }

    .btn-login {
      color: white;
      background-color: #0d6efd;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      width: 95%;
    }

    button .fa-google {
      color: white !important;
    }
  }
}

@media (min-width: 578px) and (max-width: 1199.98px) {
  .card-main {
    max-width: 80%;
    min-height: 60vh;
    margin-top: 7rem;
  }
}
