<div class="container">


  <h3>Resumen del Mes</h3>
  <div class="alert alert-primary mb-4 mt-4">
    <strong>Total gastado:</strong> {{ totalMonthlyExpense() | currency:selectedCurrency() }}
  </div>


  <div *ngIf="chartData().datasets[0].data.length === 0" class="alert alert-warning">
    No hay datos suficientes para generar la gráfica.
  </div>

  <div class="chart-container mt-3" *ngIf="chartData().datasets[0].data.length > 0">
    <canvas baseChart [data]="chartData()" [type]="'pie'"></canvas>
  </div>
</div>
