<div class="row">
  <div class="col-md-7 mb-3 d-flex">
    <h3>Registro de gastos</h3>
    <div>
      <button class="btn btn-add mx-2" (click)="openAddExpenseModal()"><i class="fa-solid fa-plus"></i></button>
    </div>

  </div>
  <div class="col-md-5">
    <div class="mb-3">
      <select class="form-select" [(ngModel)]="selectedCategory">
        <option value="">Todas las categorías</option>
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select>

      <select class="form-select mt-2" id="currencySelect" (change)="changeCurrency($event)">
        <option *ngFor="let currency of currencies" [value]="currency" [selected]="currency === selectedCurrency()">
          {{ currency }}
        </option>
      </select>

    </div>
  </div>
</div>


<!-- <div class="card card-expense mt-2" *ngFor="let expense of getFilteredExpenses()">
  <div class="card-body  ">
    <div class="row">
      <div class="col-md-10 ">
        <h5>
          {{ expense.description | titlecase }} | <span class="badge"
            [ngStyle]="{'background-color': getCategoryColor(expense.category)}">
            {{ expense.category }}
          </span> <span class="fst-italic fw-normal">{{ expense.recurrence? ' - ' : ''}}
            {{expense.recurrence
            ? expense.recurrence: ''}}</span>
        </h5>
        {{ convertAmount(expense) | currency:selectedCurrency() }} - <span class="fst-italic fw-normal"> {{ expense.date
          | date:'yyy/MM/dd'}}</span>
      </div>
      <div class="col-md-2">
        <div class=" ">
          <button class="btn btn-close p-3 " (click)="deleteExpense(expense.id)"><i
              class="fa-solid fa-xmark"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>  -->


<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Descripción</th>
        <th>Precio ({{selectedCurrency()}} ) </th>
        <th>Categoria</th>
        <th>Reccurrencia</th>
        <th>Fecha</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expense of getFilteredExpenses()">
        <td>{{ expense.description }}</td>
        <td>{{ convertAmount(expense) | currency:selectedCurrency() }}</td>
        <td><span class="badge" [ngStyle]="{'background-color': getCategoryColor(expense.category)}">
            {{ expense.category }}
          </span></td>
        <td>{{expense.recurrence ? expense.recurrence: '-'}}</td>
        <td>{{ expense.date | date:'yyy/MM/dd'}}</td>
        <td class="text-center" ><button class="btn btn-close p-2 text-dark" (click)="deleteExpense(expense.id)"><i
              class="fa-solid fa-xmark "></i></button></td>
      </tr>
    </tbody>
  </table>
</div>
