.btn-add {
  background-color: #d1e7dd;
  color: #35b67c;
}
.card-expense {
  border: none;
  background-color: #f0f7ff;

  .text-small-expense {
    color: gray;
  }
}

.btn-close {
  background-color: #f8d7da;
  color: #f8d7da;
}
