/*
.card-container{
  max-width: 95%;
  margin: auto;
  background-color: #ffffff;
  min-height: 90vh;
  width: 100%;
  padding: 20px;
  //margin-top: 4rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
 */
