
body {
  background: #F0F7FF !important;
}

.chart-container {
  width: 100%;
  max-width: 700px;
  height: 500px;
  margin:  auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
